@(message: String)

@main("Centro de reabilitação Jovens Livres") {


	<!--start-banner-->
		<div class="banner" id="home">
			<div  id="top" class="callbacks_container">
			     <ul class="rslides" id="slider4">
			       <li>
	    				<div class="banner-1">
						</div>
					</li>
					 <li>
	    				<div class="banner-2">
						</div>
					</li>
			     </ul>
			</div>
			<div class="clearfix"> </div>
			<div class="header">
				<div class="logo">
					<a href="index.html"><img src="images/logo.png" alt=""></a>
				</div>
				<div class="navigation">
				 <span class="menu"></span> 
					<ul class="navig">
						<li><a href="index.html" class="scroll">home</a><span>|</span></li>
						<li><a href="#portfolio" class="scroll">quem somos?</a><span>|</span></li>
						<li><a href="#contact" class="scroll">contato</a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="banner-bottom">
				<ul>
					<li><a href="#"><span class="twt"> </span></a></li>
					<li><a href="#"><span class="t"> </span></a></li>
					<li><a href="#"><span class="g"> </span></a></li>
				</ul>
			</div>
		</div>	


<!--Footer-Starts-Here-->
	<div class="footer">
		<div class="conatiner">
			<div class="footer-text wow bounce" data-wow-delay="0.1s">
				<p>Este site foi feito e é mantido gratuitamente por <a href="http://www.forcecode.com.br/"> Forcecode Web Development</a></p>
			</div>
		</div>
		 
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	</div>

}
