@(title: String)(content: Html)
<!DOCTYPE HTML>
<html>
   <head>
      <title>@title</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <!--[if lte IE 8]><script src="@routes.Assets.at("assets/js/ie/html5shiv.js")"></script><![endif]-->
      <link rel="stylesheet" href="@routes.Assets.at("assets/css/main.css")" />
      <!--[if lte IE 8]><link rel="stylesheet" href="@routes.Assets.at("assets/css/ie8.css")" /><![endif]-->
      <!--[if lte IE 9]><link rel="stylesheet" href="@routes.Assets.at("assets/css/ie9.css")" /><![endif]-->
   </head>
   <body>
      @content
      <section id="footer">
            <ul class="icons">
               <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
               <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
               <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
               <li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
               <li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <ul class="copyright">
               <li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
            </ul>
      </section>
      <!-- Scripts -->
      <script src="@routes.Assets.at("assets/js/jquery.min.js")"></script>
      <script src="@routes.Assets.at("assets/js/jquery.scrolly.min.js")"></script>
      <script src="@routes.Assets.at("assets/js/skel.min.js")"></script>
      <script src="@routes.Assets.at("assets/js/util.js")"></script>
      <!--[if lte IE 8]><script src="@routes.Assets.at("assets/js/ie/respond.min.js")"></script><![endif]-->
      <script src="@routes.Assets.at("assets/js/main.js")"></script>
   </body>
</html>
